<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grade.dao.StudentsMapper">
  <resultMap id="BaseResultMap" type="com.grade.entity.Students">
    <id column="xh" jdbcType="INTEGER" property="xh" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="tel" jdbcType="CHAR" property="tel" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="gid" jdbcType="INTEGER" property="gid" />
  </resultMap>
  <sql id="Base_Column_List">
    xh, name, age, sex, birthday, address, tel, state, gid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from students
    where xh = #{xh,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from students
    where xh = #{xh,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.grade.entity.Students">
    insert into students (xh, name, age, 
      sex, birthday, address, 
      tel, state, gid)
    values (#{xh,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, 
      #{sex,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, #{address,jdbcType=VARCHAR}, 
      #{tel,jdbcType=CHAR}, #{state,jdbcType=TINYINT}, #{gid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.grade.entity.Students">
    insert into students
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="xh != null">
        xh,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="gid != null">
        gid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="xh != null">
        #{xh,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=CHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=TINYINT},
      </if>
      <if test="gid != null">
        #{gid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.grade.entity.Students">
    update students
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=CHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="gid != null">
        gid = #{gid,jdbcType=INTEGER},
      </if>
    </set>
    where xh = #{xh,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.grade.entity.Students">
    update students
    set name = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      sex = #{sex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      address = #{address,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=CHAR},
      state = #{state,jdbcType=TINYINT},
      gid = #{gid,jdbcType=INTEGER}
    where xh = #{xh,jdbcType=INTEGER}
  </update>
  
  <select id="getAllStudents" resultType="Students">
  select * from students
  </select>
</mapper>